<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <h3>Cart</h3>
            <span ng-show="$ctrl.products.length === 0">
                Your cart is empty.  Add something, it'll feel good!
            </span>
            <table class="table table-striped table-justified">
                <thead>
                    <th>
                        Product
                    </th>
                    <th>
                        Price
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="product in $ctrl.products">
                        <td>{{product.name}}</td>
                        <td>R {{product.price.toFixed(2)}}</td>
                    </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>R {{$ctrl.total.toFixed(2)}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
